@import "./src/styles";
$text-color: #111111;

.text-animation {
  display: flex;
  flex-direction: row;
  margin: 8em 0;

  .text-animation-display {
    width: fit-content;
    height: 1.2em;
    font-size: 3.75em;
    line-height: 1em;
    letter-spacing: .125em;
    color: $text-color;
    text-align: center;
    font-weight: bolder;
    // text-shadow: 0 .04em .1em $tertiary-text;
  }

  .text-animation-cursor {
    width: .375em;
    height: 4em;
    margin-left: .25em;
    background-color: $text-color;;
    // box-shadow: 0 .2em .5em $tertiary-text;
    animation: blink-cursor .75s step-end infinite;
  }
}

@keyframes blink-cursor {
  from, to {
    background-color: transparent;
    // box-shadow: 0 .2em .5em transparent;
  }
  50% {
    background-color: $text-color;;
    // box-shadow: 0 .2em .5em $tertiary-text;
  }
}

// @media only screen and (max-width: $media-width) {
//   .text-animation {
//     .text-animation-display {
//       font-size: 2.75em;
//     }
//     .text-animation-cursor {
//       width: .25em;
//       height: 3em;
//     }
//   }
// }