$text-color: #111111;

.text-animation {
  display: flex;
  flex-direction: row;
  margin: 8em 0;

  .text-animation-display {
    width: fit-content;
    height: 1.2em;
    font-size: 3.75em;
    line-height: 1em;
    letter-spacing: .125em;
    color: $text-color;
    text-align: center;
    font-weight: bolder;
  }

  .text-animation-cursor {
    width: .375em;
    height: 4em;
    margin-left: .25em;
    background-color: $text-color;
    animation: blink-cursor .75s step-end infinite;
  }
}

@keyframes blink-cursor {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: $text-color;
  }
}
